$bg_body: #F9FAFB;
$bg_header: #FFFF;
$mainColor: #2563eb;
$colorText: #333;

// search
$bg_search: #F0F2F5;
$btn_search: #737373;
$color_placeholder: #A8AEBA;
$colorTextInput: #868686;

// Menu 
$btn_menu: #666;

// right-menu
$icon_bg: #3f424b;
$bg_icon: #eef1f5;
$bg_upgrade: #e5edff;

// profiles user 
$bg_profiles_hover: #f3f4f6;