* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

// import variables
@import "./_variables";

a {
    color: $colorText;
    text-decoration: none;
}

.active {
    background-color: #EAECFA;
    border-radius: 10px;
    a {
        .content {
            color: #2a41e8 !important;
        }
    }
}

body {
    background-color: $bg_body;
    &::-webkit-scrollbar {
        width: 9px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d1d1d1;
        border-radius: 10px;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 17px;
    background-color: $bg_header;
    position: fixed;
    top: 0;
    z-index: 1;
    &-left-slide {
        display: flex;
        align-items: center;
        gap: 5px;
        &-logo {
            height: 35px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-button-menu {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 23px;
                height: 23px;
                cursor: pointer;
                path {
                    fill: $btn_menu;
                }
                &:hover path {
                    fill: $mainColor !important;
                }
            }
        }
    }
    &-mid-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 40%;
        // background: rgb(248, 167, 167);
        &-search {
            min-width: 100%;
            position: relative;
            button {
               position: absolute;
               top: 50%;
               left: 16px;
               transform: translate(0, -50%);
               background-color: transparent;
               border: none;
               font-size: 15px;
               color: $btn_search;
                &:hover {
                    color: $mainColor;
                    cursor: pointer;
                }
            }
            input {
                width: 100%;
                height: 44px;
                border-radius: 32px;
                border: none;
                outline: none;
                padding: 0 30px 0 40px;
                background-color: $bg_search;
                font-size: 15px;
                color: $colorTextInput;
                &::placeholder {
                    color: $color_placeholder;
                }
            }
        }
    }
    &-right-slide {
        display: flex;
        align-items: center;
        &-btn {
            margin-right: 15px;
            &__upgrade {
                width: 65px;
                height: 65px;
                padding: 8px 18px;
                background-color: $bg_upgrade;
                color: $mainColor;
                border-radius: 5px;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
            }
        }
        nav {
            ul {
                display: flex;
                align-items: center;
                li {
                    position: relative;
                    width: 38px;
                    height: 38px;
                    border-radius: 100%;
                    background-color: $bg_icon;
                    list-style: none;
                    margin-left: 10px;
                    &:last-child {
                        margin-left: 15px;
                    }
                    .logo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        svg {
                            width: 22px;
                            height: 23px;
                            fill: $icon_bg;
                        }
                        .avatar {
                            width: 38px;
                            height: 38px;
                            border-radius: 50%;
                        }
                    }
                    span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        font-size: 11px;
                        color: white;
                        font-weight: 700;
                        align-items: center;
                        text-align: center;
                        line-height: 16px;
                        background-color: #ec5252;
                    }
                }
                .dropdown-profiles {
                    display: none;
                    position: absolute;
                    left: -245px;
                    top: 45px;
                    width: 290px;
                    min-height: 200px;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid rgb(243, 243, 243);
                    box-shadow: 1px 1px 15px rgb(241, 241, 241);
                    background-color: $bg_header;
                    z-index: 8 !important;
                    &-user {
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        border-radius: 8px;
                        &_avatar {
                            width: 45px;
                            height: 45px;
                            margin-right: 14px;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                        &-information {
                            font-size: 16px;
                            color: $colorText;
                            font-weight: 700;
                            line-height: 20px;
                            &_account {
                                font-size: 12px;
                                font-weight: 500;
                                margin-top: 1px;
                                opacity: 80%;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $bg_profiles_hover;
                        }
                    }
                    &-premium {
                        display: flex;
                        align-items: center;
                        color: #e82a35;
                        padding: 4px 6px;
                        border-radius: 8px;
                        &-icon {
                            fill: #e82a35;
                        }
                        &_content {
                            font-size: 14px;
                            font-weight: 550;
                            opacity: 80%;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $bg_profiles_hover;
                        }
                    }
                    &-custom {
                        padding: 4px 6px;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        &_content {
                            color: #565555;
                            opacity: 85%;
                            font-size: 15px;
                            font-weight: 600;
                        }
                        &:hover {
                            background-color: $bg_profiles_hover;
                        }
                    }
                    hr {
                        margin: 5px -8px;
                        border-top: 1px;
                        border-left: 0;
                    }
                    svg {
                        width: 34px;
                        height: 34px;
                        padding: 6px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.list-menu {
    width: 300px;
    max-height: 90%;
    background-color: $bg_body;
    border-right: 1px solid #E5E7EB;
    padding: 0 12px 0 12px;
    margin-top: 65px;
    position: fixed;
    overflow-y: scroll;
    transition: all 0.4s ease-in-out;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    &:hover {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #E5E5E6;
            border-radius: 10px;
        }
    }
    ul {
        padding: 13px 0 10px 0;
        li {
            list-style: none;
            padding: 10px 12px;
            margin-bottom: 4px;
            z-index: 2;
            a {
                display: flex;
                align-items: flex-end;
                gap: 10px;
                svg {
                    width: 26px;
                    height: 26px;
                    // margin-right: 10px;
                    @media screen and (max-width: 80px) {
                        margin-right: 0;
                    }
                }
                .content {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $colorTextMenu;
                    opacity: 80%;
                }
                .btn-see-more {
                    svg {
                        width: 26px;
                        height: 26px;
                        padding: 2px;
                        border-radius: 50%;
                        background-color: $bg_profiles_hover;
                        margin-right: 8px;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                background-color: $bg_profiles_hover;
                border-radius: 10px;
                .content {
                    color: #2a41e8;
                }
            }
        }
    }
    &-contacts {
        &-title {
            padding: 12px 12px 0 12px;
            margin: 12px 2px 0 2px;
            border-top: 1px solid #E5E7EB;
            color: $colorText;
            opacity: 70%;
        }
        &-friend {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 10px;
            &-avatar {
                width: 35px;
                height: 35px;
                // margin-right: 15px;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }   
            &-name {
                color: $colorText;
                font-weight: 600;
                font-size: 16px;
                opacity: 70%;
            }
            // page
            &__page {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                gap: 12px;
                svg {
                    width: 25px;
                    height: 25px;
                    // margin-right: 12px;
                    fill: $colorTextMenu;
                }
                &-title {
                    color: $colorTextMenu;
                    font-weight: 600;
                    font-size: 16px;
                    opacity: 85%;
                }
                #down {
                    position: absolute;
                    margin-right: 0;
                    right: 10px;
                    fill: $colorTextMenu;
                    opacity: 80%;
                }
            }
        }
    }
}

/// active
.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.rote {
    transform: rotate(180deg);
}

.collapse-menu {
    width: 80px;
}

.atc-avatar {
    // width: 30px;
    // height: 30px;
    margin-right: 0;
}

.items-menu {
    margin-right: 0;
}

.changeWidthAvatar {
    width: 45px !important;
}

// content-web
.main-content {
    // width: 100%;
    // height: 100%;
    // padding-top: 65px;
    margin-left: 300px;
    // background-color: #f5c8ca;
    padding: 65px 35px;
    &-banner {
        display: flex;
        align-items: center;
        width: 100%;
        height: 270px;
        margin-top: 25px;
        border-radius: 20px;
        background-color: #2877FA;
        background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
        // padding: 0 35px;
        padding-left: 35px;
        overflow: hidden;
        &-left {
            width: 60%;
            color: white;
            &-header {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 8px;
                line-height: 1.6;
            }
            &-main {
                font-size: 16px;
                margin-bottom: 24px;
                line-height: 27px;
            }
            &-button {
                button {
                    cursor: pointer;
                    font-weight: 700;
                    line-height: 16px;
                    color: white;
                    min-width: 124px;
                    height: 34px;
                    padding: 4px 10px;
                    font-size: 14px;
                    background-color: transparent;
                    border-radius: 30px;
                    border: 2px solid white;
                    transition: all 0.4s ease-in-out;
                    &:hover {
                        background-color: white;
                        color: #2877FA;
                    }
                }
            }
        }
        &-right {
            width: 40%;
            img {
                width: 100%;
            }
        }
    }
    &_box-content {
        width: 100%;
        padding: 30px 0;
        margin-left: auto;
        margin-right: auto;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &_title {
                font-size: 24px;
                opacity: 90%;
                color: #333333;
            }
            &-button-create {
                display: flex;
                align-items: center;
                height: 36px;
                padding: 0 20px;
                background-color: $mainColor;
                border-radius: 8px;
                cursor: pointer;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: $bg_header;
                }
                &-content {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    font-size: 15px;
                    margin-left: 6px;
                    line-height: 16px;
                    color: $bg_header;
                }
            }
        }
        &-inContent {
            width: 100%;
            &-home {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                &-listCourse {
                    // cursor: pointer;
                    // width: 214px;
                    &-title {
                        font-size: 0.9rem;
                        font-weight: 600;
                        line-height: 1.4;
                        margin: 11px 0;
                        opacity: 80%;
                    }
                    &-pic {
                        position: relative;
                        width: 100%;
                        height: 130px;
                        overflow: hidden;
                        // object-fit: cover;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 60px;
                            left: 0;
                            width: inherit;
                            height: 100%;
                            border-radius: 12px;
                            background-color: rgba(0, 0, 0, 0.473);
                            opacity: 0;
                            transition: all 0.2s ease-out;
                            cursor: pointer;
                            z-index: 0;
                        }
                        &__button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                            opacity: 0;
                            button {
                                cursor: pointer;
                                width: 115px;
                                padding: 9px 16px;
                                background-color: white;
                                border-radius: 50px;
                                border: none;
                                font-size: 13px;
                                font-weight: 700;
                            }
                        }
                        &:hover::after {
                            cursor: pointer;
                            top: 0;
                            opacity: 1;
                        }
                        &:hover &__button  {
                            opacity: 1;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 12px;
                        }
                    }
                    &-user {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        &-icon {
                            svg {
                                width: 17px;
                                color: #666;
                                vertical-align: revert;
                            }
                        }
                        span {
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}

//TODO Trang khóa học
.headerCourse {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3;
    // display: flex;
    // justify-content: space-between;
    padding: 5px 35px 5px 35px;
    background-color: $bg_header;
    &-left {
        display: flex;
        align-items: center;
        gap: 10px;
        &-back {
            svg {
                width: 19px;
                height: 19px;
            }
        }
        &-titleHeader {
            display: flex;
            align-items: center;
            gap: 15px;
            &-title {
                font-size: 15px;
                font-weight: 700;
                opacity: 80%;
                color: $colorTextMenu;
            }
        }
    }
    &-right {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        &:hover &-help, &:hover svg {
            color: #050505;
            fill: #050505;
        }
        svg {
            width: 19px;
            height: 19px;
            color: $icon_bg;
        }
        &-help {
            color: $colorTextMenu;
            font-size: 15px;
        }
    }
}

//TODO Chi tiết khóa học
.main-course {
    width: 100%;
    height: 100vh;
    padding-top: 51px;
    display: flex;
    &-left {
        width: 75%;
        height: 100%;
        // background-color: #2877FA;
        &-boxVideo {
            width: 100%;
            height: 70vh;
            // background-color: #050505;
            iframe {
                width: 100%;
                height: inherit;
            }
            &-title {
                width: 100%;
                margin-top: 15px;
                padding: 5px 52px;
                &_text {
                    font-size: 25px;
                    font-weight: 700;
                    opacity: 80%;
                    line-height: 1.5;
                }
                &_textTitme {
                    margin-top: 5px;
                    font-size: 14px;
                    opacity: 80%;
                }
            }
        }
    }
    &-right {
        width: 25%;
        border-left: 1px solid #E5E7EB;
        &-listCourse {
            &-contentLession {
                padding: 12px 16px;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                color: $colorText;
                background-color: #E5E7EB;
            }
            &-boxCourse {
                &-boxLession {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 15px;
                    padding: 8px 20px;
                    background-color: #F0F2F5;
                    &-title {
                        font-weight: 600;
                        opacity: 60%;
                        line-height: 2.5;
                        font-size: 14px;
                    }
                    i {
                        transition: all 0.3 ease;
                        width: 20px;
                        height: 20px;
                    }
                }
                &-contentLession {
                    background-color: white;
                    &-content {
                        cursor: pointer;
                        padding-left: 28px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &-title {
                            width: 94%;
                            line-height: 1.8;
                            padding: 10px 0 10px 2px;
                            opacity: 70%;
                        }
                        svg {
                            width: 6%;
                            fill: #4c8ffc;
                            path {
                                width: inherit;
                                height: inherit;
                            }
                        }
                        &:hover {
                            background-color: #EAECFA;
                        }
                    }
                }
            }
        }
    }
}

///TODO login 
.header-login {
    position: fixed;
    width: 100%;
    background-color: $bg_header;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    z-index: 2;
    &-logo {
        width: 129px;
        img {
            width: inherit;
            height: inherit;
        }
    }

    &-button {
        display: flex;
        align-items: center;
        gap: 20px;
        &-login {
            width: auto;
            height: auto;
            padding: 5px;
            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                font-size: 15px;
                font-weight: 600;
                line-height: 20px;
                color: $colorText;
                opacity: 80%;
            }
        }
        &-register {
            width: auto;
            height: auto;
            button {
                cursor: pointer;
                background-color: #8B5CF6;
                color: white;
                font-weight: 600;
                font-size: 15px;
                border: none;
                border-radius: 8px;
                line-height: 20px;
                padding: 10px 24px;
            }
        }
    }
}

.blockFrom {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 60px;
    // z-index: -1;
    &-infrom {
        width: 454px;
        padding: 48px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 1px 1px 20px rgb(233, 233, 233);
        &_title {
            margin-bottom: 24px;
            h2 {
                font-size: 26px;
                font-weight: 600;
                line-height: 32px;
                opacity: 80%;
                color: $colorText;
                z-index: 1;
            }
        }
        &_inputForm {
            margin-top: 12px;
            label {
                display: block;
                color: #666666;
                font-size: 16px;
                line-height: 22px;
            }
            input {
                padding: 0 20px;
                margin-top: 8px;
                width: 100%;
                color: #808080;
                background-color: #F3F4F6;
                line-height: 46px;
                border: none;
                border-radius: 6px;
                outline: none;
                font-weight: 400;
                font-size: 16px;
            }
            &_noti {
                background-color: rgba(255, 137, 137, 0.63);
                border-radius: 8px;
                padding: 0px 20px;
                p {
                    color: rgb(226, 0, 0);
                    line-height: 2.5;
                    font-size: 16px;
                }
            }
        }
        &_buttonFrom {
            width: 100%;
            height: 58px;
            margin-top: 20px;
            button {
                cursor: pointer;
                margin-top: 20px;
                width: 100%;
                padding: 8px;
                background-color: #2563EB;
                border: none;
                font-size: 15px;
                line-height: 22px;
                color: white;
                font-weight: 700;
                border-radius: 8px;
            }
        }
    }
}

::placeholder {
    // font-weight: 600;
    color: #A6A3B5;
    font-size: 17px;
}