* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.active {
  background-color: #EAECFA;
  border-radius: 10px;
}
.active a .content {
  color: #2a41e8 !important;
}

body {
  background-color: #F9FAFB;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 17px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-left-slide {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-left-slide-logo {
  height: 35px;
}
.header-left-slide-logo img {
  width: 100%;
  height: 100%;
}
.header-left-slide-button-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left-slide-button-menu svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.header-left-slide-button-menu svg path {
  fill: #666;
}
.header-left-slide-button-menu svg:hover path {
  fill: #2563eb !important;
}
.header-mid-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 40%;
}
.header-mid-slide-search {
  min-width: 100%;
  position: relative;
}
.header-mid-slide-search button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #737373;
}
.header-mid-slide-search button:hover {
  color: #2563eb;
  cursor: pointer;
}
.header-mid-slide-search input {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: none;
  outline: none;
  padding: 0 30px 0 40px;
  background-color: #F0F2F5;
  font-size: 15px;
  color: #868686;
}
.header-mid-slide-search input::placeholder {
  color: #A8AEBA;
}
.header-right-slide {
  display: flex;
  align-items: center;
}
.header-right-slide-btn {
  margin-right: 15px;
}
.header-right-slide-btn__upgrade {
  width: 65px;
  height: 65px;
  padding: 8px 18px;
  background-color: #e5edff;
  color: #2563eb;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.header-right-slide nav ul {
  display: flex;
  align-items: center;
}
.header-right-slide nav ul li {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #eef1f5;
  list-style: none;
  margin-left: 10px;
}
.header-right-slide nav ul li:last-child {
  margin-left: 15px;
}
.header-right-slide nav ul li .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-slide nav ul li .logo svg {
  width: 22px;
  height: 23px;
  fill: #3f424b;
}
.header-right-slide nav ul li .logo .avatar {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}
.header-right-slide nav ul li span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 11px;
  color: white;
  font-weight: 700;
  align-items: center;
  text-align: center;
  line-height: 16px;
  background-color: #ec5252;
}
.header-right-slide nav ul .dropdown-profiles {
  display: none;
  position: absolute;
  left: -245px;
  top: 45px;
  width: 290px;
  min-height: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(243, 243, 243);
  box-shadow: 1px 1px 15px rgb(241, 241, 241);
  background-color: white;
}
.header-right-slide nav ul .dropdown-profiles-user {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-user_avatar {
  width: 45px;
  height: 45px;
  margin-right: 14px;
}
.header-right-slide nav ul .dropdown-profiles-user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-right-slide nav ul .dropdown-profiles-user-information {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 20px;
}
.header-right-slide nav ul .dropdown-profiles-user-information_account {
  font-size: 12px;
  font-weight: 500;
  margin-top: 1px;
  opacity: 80%;
}
.header-right-slide nav ul .dropdown-profiles-user:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles-premium {
  display: flex;
  align-items: center;
  color: #e82a35;
  padding: 4px 6px;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-premium-icon {
  fill: #e82a35;
}
.header-right-slide nav ul .dropdown-profiles-premium_content {
  font-size: 14px;
  font-weight: 550;
  opacity: 80%;
}
.header-right-slide nav ul .dropdown-profiles-premium:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles-custom {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-custom_content {
  color: #565555;
  opacity: 85%;
  font-size: 15px;
  font-weight: 600;
}
.header-right-slide nav ul .dropdown-profiles-custom:hover {
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles hr {
  margin: 5px -8px;
  border-top: 1px;
  border-left: 0;
}
.header-right-slide nav ul .dropdown-profiles svg {
  width: 34px;
  height: 34px;
  padding: 6px;
  margin-right: 10px;
}

.list-menu {
  width: 300px;
  max-height: 90%;
  background-color: #F9FAFB;
  border-right: 1px solid #E5E7EB;
  padding: 0 12px 0 12px;
  margin-top: 65px;
  position: fixed;
  overflow-y: scroll;
  transition: all 0.4s ease-in-out;
}
.list-menu::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.list-menu:hover {
  overflow-y: scroll;
}
.list-menu:hover::-webkit-scrollbar {
  width: 6px;
}
.list-menu:hover::-webkit-scrollbar-thumb {
  background-color: #E5E5E6;
  border-radius: 10px;
}
.list-menu ul {
  padding: 13px 0 10px 0;
}
.list-menu ul li {
  list-style: none;
  padding: 10px 12px;
  margin-bottom: 4px;
  z-index: 2;
}
.list-menu ul li a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.list-menu ul li a svg {
  width: 26px;
  height: 26px;
}
@media screen and (max-width: 80px) {
  .list-menu ul li a svg {
    margin-right: 0;
  }
}
.list-menu ul li a .content {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #585757;
  opacity: 80%;
}
.list-menu ul li a .btn-see-more svg {
  width: 26px;
  height: 26px;
  padding: 2px;
  border-radius: 50%;
  background-color: #f3f4f6;
  margin-right: 8px;
}
.list-menu ul li:hover {
  cursor: pointer;
  background-color: #f3f4f6;
  border-radius: 10px;
}
.list-menu ul li:hover .content {
  color: #2a41e8;
}
.list-menu-contacts-title {
  padding: 12px 12px 0 12px;
  margin: 12px 2px 0 2px;
  border-top: 1px solid #E5E7EB;
  color: #333;
  opacity: 70%;
}
.list-menu-contacts-friend {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.list-menu-contacts-friend-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.list-menu-contacts-friend-avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.list-menu-contacts-friend-name {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  opacity: 70%;
}
.list-menu-contacts-friend__page {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.list-menu-contacts-friend__page svg {
  width: 25px;
  height: 25px;
  fill: #585757;
}
.list-menu-contacts-friend__page-title {
  color: #585757;
  font-weight: 600;
  font-size: 16px;
  opacity: 85%;
}
.list-menu-contacts-friend__page #down {
  position: absolute;
  margin-right: 0;
  right: 10px;
  fill: #585757;
  opacity: 80%;
}

.show {
  display: block !important;
}

.hidden {
  display: none;
}

.collapse-menu {
  width: 80px;
}

.atc-avatar {
  margin-right: 0;
}

.items-menu {
  margin-right: 0;
}

.changeWidthAvatar {
  width: 45px !important;
}

.main-content {
  padding-top: 65px;
  margin-left: 300px;
}
.main-content_box-content {
  width: 100%;
  padding: 30px 35px;
  margin-left: auto;
  margin-right: auto;
}
.main-content_box-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content_box-content-header_title {
  font-size: 24px;
  opacity: 90%;
  color: #333333;
}
.main-content_box-content-header-button-create {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 20px;
  background-color: #2563eb;
  border-radius: 8px;
  cursor: pointer;
}
.main-content_box-content-header-button-create svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.main-content_box-content-header-button-create-content {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 15px;
  margin-left: 6px;
  line-height: 16px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
