* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

// import variables
@import "./_variables";

a {
    color: $colorText;
    text-decoration: none;
}

.active {
    background-color: #EAECFA;
    border-radius: 10px;
    a {
        .content {
            color: #2a41e8 !important;
        }
    }
}

body {
    background-color: $bg_body;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 17px;
    background-color: $bg_header;
    position: fixed;
    top: 0;
    z-index: 1;
    &-left-slide {
        display: flex;
        align-items: center;
        gap: 5px;
        &-logo {
            height: 35px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-button-menu {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 23px;
                height: 23px;
                cursor: pointer;
                path {
                    fill: $btn_menu;
                }
                &:hover path {
                    fill: $mainColor !important;
                }
            }
        }
    }
    &-mid-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 40%;
        // background: rgb(248, 167, 167);
        &-search {
            min-width: 100%;
            position: relative;
            button {
               position: absolute;
               top: 50%;
               left: 16px;
               transform: translate(0, -50%);
               background-color: transparent;
               border: none;
               font-size: 15px;
               color: $btn_search;
                &:hover {
                    color: $mainColor;
                    cursor: pointer;
                }
            }
            input {
                width: 100%;
                height: 44px;
                border-radius: 32px;
                border: none;
                outline: none;
                padding: 0 30px 0 40px;
                background-color: $bg_search;
                font-size: 15px;
                color: $colorTextInput;
                &::placeholder {
                    color: $color_placeholder;
                }
            }
        }
    }
    &-right-slide {
        display: flex;
        align-items: center;
        &-btn {
            margin-right: 15px;
            &__upgrade {
                width: 65px;
                height: 65px;
                padding: 8px 18px;
                background-color: $bg_upgrade;
                color: $mainColor;
                border-radius: 5px;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
            }
        }
        nav {
            ul {
                display: flex;
                align-items: center;
                li {
                    position: relative;
                    width: 38px;
                    height: 38px;
                    border-radius: 100%;
                    background-color: $bg_icon;
                    list-style: none;
                    margin-left: 10px;
                    &:last-child {
                        margin-left: 15px;
                    }
                    .logo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: 22px;
                            height: 23px;
                            fill: $icon_bg;
                        }
                        .avatar {
                            width: 38px;
                            height: 38px;
                            border-radius: 100%;
                        }
                    }
                    span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        font-size: 11px;
                        color: white;
                        font-weight: 700;
                        align-items: center;
                        text-align: center;
                        line-height: 16px;
                        background-color: #ec5252;
                    }
                }
                .dropdown-profiles {
                    display: none;
                    position: absolute;
                    left: -245px;
                    top: 45px;
                    width: 290px;
                    min-height: 200px;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid rgb(243, 243, 243);
                    box-shadow: 1px 1px 15px rgb(241, 241, 241);
                    background-color: $bg_header;
                    &-user {
                        display: flex;
                        align-items: center;
                        padding: 8px;
                        border-radius: 8px;
                        &_avatar {
                            width: 45px;
                            height: 45px;
                            margin-right: 14px;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                        &-information {
                            font-size: 16px;
                            color: $colorText;
                            font-weight: 700;
                            line-height: 20px;
                            &_account {
                                font-size: 12px;
                                font-weight: 500;
                                margin-top: 1px;
                                opacity: 80%;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $bg_profiles_hover;
                        }
                    }
                    &-premium {
                        display: flex;
                        align-items: center;
                        color: #e82a35;
                        padding: 4px 6px;
                        border-radius: 8px;
                        &-icon {
                            fill: #e82a35;
                        }
                        &_content {
                            font-size: 14px;
                            font-weight: 550;
                            opacity: 80%;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $bg_profiles_hover;
                        }
                    }
                    &-custom {
                        padding: 4px 6px;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        &_content {
                            color: #565555;
                            opacity: 85%;
                            font-size: 15px;
                            font-weight: 600;
                        }
                        &:hover {
                            background-color: $bg_profiles_hover;
                        }
                    }
                    hr {
                        margin: 5px -8px;
                        border-top: 1px;
                        border-left: 0;
                    }
                    svg {
                        width: 34px;
                        height: 34px;
                        padding: 6px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.list-menu {
    width: 300px;
    max-height: 90%;
    background-color: $bg_body;
    border-right: 1px solid #E5E7EB;
    padding: 0 12px 0 12px;
    margin-top: 65px;
    position: fixed;
    overflow-y: scroll;
    transition: all 0.4s ease-in-out;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    &:hover {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #E5E5E6;
            border-radius: 10px;
        }
    }
    ul {
        padding: 13px 0 10px 0;
        li {
            list-style: none;
            padding: 10px 12px;
            margin-bottom: 4px;
            z-index: 2;
            a {
                display: flex;
                align-items: flex-end;
                gap: 10px;
                svg {
                    width: 26px;
                    height: 26px;
                    // margin-right: 10px;
                    @media screen and (max-width: 80px) {
                        margin-right: 0;
                    }
                }
                .content {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $colorTextMenu;
                    opacity: 80%;
                }
                .btn-see-more {
                    svg {
                        width: 26px;
                        height: 26px;
                        padding: 2px;
                        border-radius: 50%;
                        background-color: $bg_profiles_hover;
                        margin-right: 8px;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                background-color: $bg_profiles_hover;
                border-radius: 10px;
                .content {
                    color: #2a41e8;
                }
            }
        }
    }
    &-contacts {
        &-title {
            padding: 12px 12px 0 12px;
            margin: 12px 2px 0 2px;
            border-top: 1px solid #E5E7EB;
            color: $colorText;
            opacity: 70%;
        }
        &-friend {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 10px;
            &-avatar {
                width: 35px;
                height: 35px;
                // margin-right: 15px;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }   
            &-name {
                color: $colorText;
                font-weight: 600;
                font-size: 16px;
                opacity: 70%;
            }
            // page
            &__page {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                gap: 12px;
                svg {
                    width: 25px;
                    height: 25px;
                    // margin-right: 12px;
                    fill: $colorTextMenu;
                }
                &-title {
                    color: $colorTextMenu;
                    font-weight: 600;
                    font-size: 16px;
                    opacity: 85%;
                }
                #down {
                    position: absolute;
                    margin-right: 0;
                    right: 10px;
                    fill: $colorTextMenu;
                    opacity: 80%;
                }
            }
        }
    }
}


/// active
.show {
    display: block !important;
}

.hidden {
    display: none;
}

.collapse-menu {
    width: 80px;
}

.atc-avatar {
    // width: 30px;
    // height: 30px;
    margin-right: 0;
}

.items-menu {
    margin-right: 0;
}

.changeWidthAvatar {
    width: 45px !important;
}

// content-web
.main-content {
    // width: 100%;
    // height: 100%;
    padding-top: 65px;
    margin-left: 300px;
    // background-color: #f5c8ca;
    &_box-content {
        width: 100%;
        padding: 30px 35px;
        margin-left: auto;
        margin-right: auto;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_title {
                font-size: 24px;
                opacity: 90%;
                color: #333333;
            }
            &-button-create {
                display: flex;
                align-items: center;
                height: 36px;
                padding: 0 20px;
                background-color: $mainColor;
                border-radius: 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: $bg_header;
                }
                &-content {
                    background-color: transparent;
                    border: none;
                    font-size: 15px;
                    margin-left: 6px;
                    line-height: 16px;
                    color: $bg_header;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}