* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.active {
  background-color: #EAECFA;
  border-radius: 10px;
}
.active a .content {
  color: #2a41e8 !important;
}

.boxstyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-admin-create {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 20px;
  background-color: #2563EB;
  border: none;
  color: white;
  border-radius: 8px;
}

body {
  position: relative;
  height: 100vh;
  background-color: #F9FAFB;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 17px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-left-slide {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-left-slide-logo {
  height: 35px;
}
.header-left-slide-logo img {
  width: 100%;
  height: 100%;
}
.header-left-slide-button-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left-slide-button-menu svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.header-left-slide-button-menu svg path {
  fill: #666;
}
.header-left-slide-button-menu svg:hover path {
  fill: #2563eb !important;
}
.header-mid-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 40%;
}
.header-mid-slide-search {
  min-width: 100%;
  position: relative;
}
.header-mid-slide-search button {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #737373;
}
.header-mid-slide-search button:hover {
  color: #2563eb;
  cursor: pointer;
}
.header-mid-slide-search input {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: none;
  outline: none;
  padding: 0 30px 0 40px;
  background-color: #F0F2F5;
  font-size: 15px;
  color: #868686;
}
.header-mid-slide-search input::placeholder {
  color: #A8AEBA;
}
.header-right-slide {
  display: flex;
  align-items: center;
}
.header-right-slide-btn {
  margin-right: 15px;
}
.header-right-slide-btn__upgrade {
  width: 65px;
  height: 65px;
  padding: 8px 18px;
  background-color: #e5edff;
  color: #2563eb;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.header-right-slide nav ul {
  display: flex;
  align-items: center;
}
.header-right-slide nav ul li {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #eef1f5;
  list-style: none;
  margin-left: 10px;
}
.header-right-slide nav ul li:last-child {
  margin-left: 15px;
}
.header-right-slide nav ul li .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.header-right-slide nav ul li .logo svg {
  width: 22px;
  height: 23px;
  fill: #3f424b;
}
.header-right-slide nav ul li .logo .avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.header-right-slide nav ul li span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 11px;
  color: white;
  font-weight: 700;
  align-items: center;
  text-align: center;
  line-height: 16px;
  background-color: #ec5252;
}
.header-right-slide nav ul .dropdown-profiles {
  display: none;
  position: absolute;
  left: -245px;
  top: 45px;
  width: 290px;
  min-height: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(243, 243, 243);
  box-shadow: 1px 1px 15px rgb(241, 241, 241);
  background-color: white;
  z-index: 8 !important;
}
.header-right-slide nav ul .dropdown-profiles-user {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-user_avatar {
  width: 45px;
  height: 45px;
  margin-right: 14px;
}
.header-right-slide nav ul .dropdown-profiles-user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-right-slide nav ul .dropdown-profiles-user-information {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  line-height: 20px;
}
.header-right-slide nav ul .dropdown-profiles-user-information_account {
  font-size: 12px;
  font-weight: 500;
  margin-top: 1px;
  opacity: 80%;
}
.header-right-slide nav ul .dropdown-profiles-user:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles-premium {
  display: flex;
  align-items: center;
  color: #e82a35;
  padding: 4px 6px;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-premium-icon {
  fill: #e82a35;
}
.header-right-slide nav ul .dropdown-profiles-premium_content {
  font-size: 14px;
  font-weight: 550;
  opacity: 80%;
}
.header-right-slide nav ul .dropdown-profiles-premium:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles-custom {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.header-right-slide nav ul .dropdown-profiles-custom_content {
  color: #565555;
  opacity: 85%;
  font-size: 15px;
  font-weight: 600;
}
.header-right-slide nav ul .dropdown-profiles-custom:hover {
  background-color: #f3f4f6;
}
.header-right-slide nav ul .dropdown-profiles hr {
  margin: 5px -8px;
  border-top: 1px;
  border-left: 0;
}
.header-right-slide nav ul .dropdown-profiles svg {
  width: 34px;
  height: 34px;
  padding: 6px;
  margin-right: 10px;
}

.list-menu {
  width: 300px;
  max-height: 90%;
  background-color: #F9FAFB;
  border-right: 1px solid #E5E7EB;
  padding: 0 12px 0 12px;
  margin-top: 65px;
  position: fixed;
  overflow-y: scroll;
  transition: all 0.4s ease-in-out;
}
.list-menu::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.list-menu:hover {
  overflow-y: scroll;
}
.list-menu:hover::-webkit-scrollbar {
  width: 6px;
}
.list-menu:hover::-webkit-scrollbar-thumb {
  background-color: #E5E5E6;
  border-radius: 10px;
}
.list-menu ul {
  padding: 13px 0 10px 0;
}
.list-menu ul li {
  list-style: none;
  padding: 10px 12px;
  margin-bottom: 4px;
  z-index: 2;
}
.list-menu ul li a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.list-menu ul li a svg {
  width: 26px;
  height: 26px;
}
@media screen and (max-width: 80px) {
  .list-menu ul li a svg {
    margin-right: 0;
  }
}
.list-menu ul li a .content {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #585757;
  opacity: 80%;
}
.list-menu ul li a .btn-see-more svg {
  width: 26px;
  height: 26px;
  padding: 2px;
  border-radius: 50%;
  background-color: #f3f4f6;
  margin-right: 8px;
}
.list-menu ul li:hover {
  cursor: pointer;
  background-color: #f3f4f6;
  border-radius: 10px;
}
.list-menu ul li:hover .content {
  color: #2a41e8;
}
.list-menu-contacts-title {
  padding: 12px 12px 0 12px;
  margin: 12px 2px 0 2px;
  border-top: 1px solid #E5E7EB;
  color: #333;
  opacity: 70%;
}
.list-menu-contacts-friend {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.list-menu-contacts-friend-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.list-menu-contacts-friend-avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.list-menu-contacts-friend-name {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  opacity: 70%;
}
.list-menu-contacts-friend__page {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.list-menu-contacts-friend__page svg {
  width: 25px;
  height: 25px;
  fill: #585757;
}
.list-menu-contacts-friend__page-title {
  color: #585757;
  font-weight: 600;
  font-size: 16px;
  opacity: 85%;
}
.list-menu-contacts-friend__page #down {
  position: absolute;
  margin-right: 0;
  right: 10px;
  fill: #585757;
  opacity: 80%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.rote {
  transform: rotate(180deg);
}

.collapse-menu {
  width: 80px;
}

.atc-avatar {
  margin-right: 0;
}

.items-menu {
  margin-right: 0;
}

.changeWidthAvatar {
  width: 45px !important;
}

.main-content {
  margin-left: 300px;
  padding: 65px 35px;
}
.main-content-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 270px;
  margin-top: 25px;
  border-radius: 20px;
  background-color: #2877FA;
  background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
  padding-left: 35px;
  overflow: hidden;
}
.main-content-banner-left {
  width: 60%;
  color: white;
}
.main-content-banner-left-header {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.6;
}
.main-content-banner-left-main {
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 27px;
}
.main-content-banner-left-button button {
  cursor: pointer;
  font-weight: 700;
  line-height: 16px;
  color: white;
  min-width: 124px;
  height: 34px;
  padding: 4px 10px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid white;
  transition: all 0.4s ease-in-out;
}
.main-content-banner-left-button button:hover {
  background-color: white;
  color: #2877FA;
}
.main-content-banner-right {
  width: 40%;
}
.main-content-banner-right img {
  width: 100%;
}
.main-content_box-content {
  width: 100%;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
}
.main-content_box-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-content_box-content-header_title {
  font-size: 24px;
  opacity: 90%;
  color: #333333;
}
.main-content_box-content-inContent {
  width: 100%;
}
.main-content_box-content-inContent-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.main-content_box-content-inContent-home-listCourse-title {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 11px 0;
  opacity: 80%;
}
.main-content_box-content-inContent-home-listCourse-pic {
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.main-content_box-content-inContent-home-listCourse-pic::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: inherit;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.473);
  opacity: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  z-index: 0;
}
.main-content_box-content-inContent-home-listCourse-pic__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.main-content_box-content-inContent-home-listCourse-pic__button button {
  cursor: pointer;
  width: 115px;
  padding: 9px 16px;
  background-color: white;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  font-weight: 700;
}
.main-content_box-content-inContent-home-listCourse-pic:hover::after {
  cursor: pointer;
  top: 0;
  opacity: 1;
}
.main-content_box-content-inContent-home-listCourse-pic:hover .main-content_box-content-inContent-home-listCourse-pic__button {
  opacity: 1;
}
.main-content_box-content-inContent-home-listCourse-pic img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.main-content_box-content-inContent-home-listCourse-user {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-content_box-content-inContent-home-listCourse-user-icon svg {
  width: 17px;
  color: #666;
  vertical-align: revert;
}
.main-content_box-content-inContent-home-listCourse-user span {
  font-size: 14px;
  color: #666;
}
.main-content_titleAdmin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-content_titleAdmin_text {
  line-height: 1.8;
  color: #333;
  opacity: 80%;
}
.main-content_titleAdmin-button-create {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 20px;
  background-color: #2563eb;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
.main-content_titleAdmin-button-create svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.main-content_titleAdmin-button-create-content {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 15px;
  margin-left: 6px;
  line-height: 16px;
  color: white;
}
.main-content_tableCourse {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.main-content_tableCourse table {
  width: 100%;
  height: 140px;
  border-collapse: collapse;
}
.main-content_tableCourse table tr .picture {
  width: 240px;
  height: 140px;
}
.main-content_tableCourse table tr .picture img {
  width: inherit;
  height: 140px;
  border-radius: 12px;
}
.main-content_tableCourse table tr .title {
  width: 45%;
}
.main-content_tableCourse table tr .title h3 {
  font-size: 23px;
  opacity: 80%;
  color: #333;
  margin-bottom: 5px;
}
.main-content_tableCourse table tr .title p {
  flex-wrap: wrap;
  line-height: 20px;
  color: #868686;
}
.main-content_tableCourse table tr .buttonTable {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-content_tableCourse table tr .buttonTable button {
  cursor: pointer;
  max-width: 120px;
  line-height: 24px;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  font-weight: 600;
  border-radius: 8px;
}
.main-content_tableCourse table tr td {
  height: 140px;
  padding: 8px;
}

.model-create {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4862745098);
}
.model-create-fromInput {
  position: absolute;
  min-width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.model-create-fromInput_boxType {
  margin-top: 12px;
}
.model-create-fromInput_boxType-title {
  line-height: 1.4;
  color: #333;
  opacity: 80%;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 600;
}
.model-create-fromInput_boxType label {
  display: block;
  color: #333;
  opacity: 80%;
  font-size: 16px;
}
.model-create-fromInput_boxType input {
  padding: 0 20px;
  margin-top: 8px;
  width: 100%;
  color: #808080;
  background-color: #F3F4F6;
  line-height: 46px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}
.model-create-fromInput_boxType button {
  cursor: pointer;
  width: 30%;
  line-height: 25px;
  font-size: 16px;
  border-radius: 6px;
  padding: 3px 10px;
  border: none;
  color: white;
  background-color: #10B981;
}
.model-create-fromInput_boxType_btnEdit {
  width: 20% !important;
  float: right;
}
.model-create-fromInput_contentCourse {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.model-create-fromInput_contentCourse_picture {
  width: 220px;
  height: 120px;
}
.model-create-fromInput_contentCourse_picture img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}
.model-create-fromInput_contentCourse_titleInput_title {
  color: #333;
  font-size: 18px;
  margin-bottom: 6px;
}
.model-create-fromInput_contentCourse_titleInput input {
  padding: 0 20px;
  margin-top: 8px;
  width: 100%;
  color: #808080;
  background-color: #F3F4F6;
  line-height: 46px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}

.headerCourse {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;
  padding: 5px 35px 5px 35px;
  background-color: white;
}
.headerCourse-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerCourse-left-back svg {
  width: 19px;
  height: 19px;
}
.headerCourse-left-titleHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}
.headerCourse-left-titleHeader-title {
  font-size: 15px;
  font-weight: 700;
  opacity: 80%;
  color: #585757;
}
.headerCourse-right {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.headerCourse-right:hover .headerCourse-right-help, .headerCourse-right:hover svg {
  color: #050505;
  fill: #050505;
}
.headerCourse-right svg {
  width: 19px;
  height: 19px;
  color: #3f424b;
}
.headerCourse-right-help {
  color: #585757;
  font-size: 15px;
}

.main-course {
  width: 100%;
  height: 100vh;
  padding-top: 51px;
  display: flex;
}
.main-course-left {
  width: 75%;
  height: 100%;
}
.main-course-left-boxVideo {
  width: 100%;
  height: 70vh;
}
.main-course-left-boxVideo iframe {
  width: 100%;
  height: inherit;
}
.main-course-left-boxVideo-title {
  width: 100%;
  margin-top: 15px;
  padding: 5px 52px;
}
.main-course-left-boxVideo-title_text {
  font-size: 25px;
  font-weight: 700;
  opacity: 80%;
  line-height: 1.5;
}
.main-course-left-boxVideo-title_textTitme {
  margin-top: 5px;
  font-size: 14px;
  opacity: 80%;
}
.main-course-right {
  width: 25%;
  border-left: 1px solid #E5E7EB;
}
.main-course-right-listCourse-contentLession {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
  background-color: #E5E7EB;
}
.main-course-right-listCourse-boxCourse-boxLession {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 8px 20px;
  background-color: #F0F2F5;
}
.main-course-right-listCourse-boxCourse-boxLession-title {
  font-weight: 600;
  opacity: 60%;
  line-height: 2.5;
  font-size: 14px;
}
.main-course-right-listCourse-boxCourse-boxLession i {
  transition: all 0.3 ease;
  width: 20px;
  height: 20px;
}
.main-course-right-listCourse-boxCourse-contentLession {
  background-color: white;
}
.main-course-right-listCourse-boxCourse-contentLession .btn-editCourse {
  width: 100%;
  line-height: 40px;
}
.main-course-right-listCourse-boxCourse-contentLession .btn-editCourse button {
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.main-course-right-listCourse-boxCourse-contentLession .btn-editCourse button:hover {
  background-color: rgba(199, 199, 199, 0.4431372549);
}
.main-course-right-listCourse-boxCourse-contentLession-content {
  cursor: pointer;
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-course-right-listCourse-boxCourse-contentLession-content-title {
  width: 94%;
  line-height: 1.8;
  padding: 10px 0 10px 2px;
  opacity: 70%;
}
.main-course-right-listCourse-boxCourse-contentLession-content svg {
  width: 6%;
  fill: #4c8ffc;
}
.main-course-right-listCourse-boxCourse-contentLession-content svg path {
  width: inherit;
  height: inherit;
}
.main-course-right-listCourse-boxCourse-contentLession-content:hover {
  background-color: #EAECFA;
}
.main-course-right-listCourse-boxCourse-contentLession-content i {
  color: #333;
}
.main-course-right-listCourse-boxCourse-contentLession-content i:hover {
  color: #4c8ffc;
}

.header-login {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  z-index: 2;
}
.header-login-logo {
  width: 129px;
}
.header-login-logo img {
  width: inherit;
  height: inherit;
}
.header-login-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-login-button-login {
  width: auto;
  height: auto;
  padding: 5px;
}
.header-login-button-login button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #333;
  opacity: 80%;
}
.header-login-button-register {
  width: auto;
  height: auto;
}
.header-login-button-register button {
  cursor: pointer;
  background-color: #8B5CF6;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  line-height: 20px;
  padding: 10px 24px;
}

.blockFrom {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 60px;
}
.blockFrom-infrom {
  width: 454px;
  padding: 48px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 20px rgb(233, 233, 233);
  margin-top: 10px;
}
.blockFrom-infrom_title {
  margin-bottom: 24px;
}
.blockFrom-infrom_title h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  opacity: 80%;
  color: #333;
  z-index: 1;
}
.blockFrom-infrom_inputForm {
  margin-top: 12px;
}
.blockFrom-infrom_inputForm label {
  display: block;
  color: #666666;
  font-size: 16px;
  line-height: 22px;
}
.blockFrom-infrom_inputForm input {
  padding: 0 20px;
  margin-top: 8px;
  width: 100%;
  color: #808080;
  background-color: #F3F4F6;
  line-height: 46px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}
.blockFrom-infrom_inputForm_noti {
  background-color: rgba(255, 137, 137, 0.63);
  border-radius: 8px;
  padding: 0px 20px;
}
.blockFrom-infrom_inputForm_noti p {
  color: rgb(226, 0, 0);
  line-height: 2.5;
  font-size: 16px;
}
.blockFrom-infrom_buttonFrom {
  width: 100%;
  height: 58px;
  margin-top: 20px;
}
.blockFrom-infrom_buttonFrom button {
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  background-color: #2563EB;
  border: none;
  font-size: 15px;
  line-height: 22px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
}

.create-sesion {
  width: 380px;
}
.create-sesion form {
  width: inherit;
  height: inherit;
  background-color: #F0F2F5;
  padding: 20px;
  border-radius: 10px;
}
.create-sesion_title {
  font-weight: 700;
  font-size: 23px;
  color: #333;
  opacity: 80%;
}
.create-sesion_content {
  margin-top: 20px;
}
.create-sesion_content label {
  display: block;
  color: #333;
  opacity: 80%;
}
.create-sesion_content input {
  width: 100%;
  padding: 5px 20px;
  margin-top: 10px;
  line-height: 25px;
  font-size: 18px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 8px;
  outline: none;
}
.create-sesion_content button {
  cursor: pointer;
  padding: 3px 15px;
  line-height: 25px;
  background-color: #10B981;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
}

::placeholder {
  color: #A6A3B5;
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
